body {
  font-family: "Poppins", sans-serif;
  margin: 3rem 0;
  border: 1px solid #333;
  border-radius: 50px;
  padding: 3rem;
}

#lamp{
  cursor: pointer;
  cursor: hand;
  width: 2rem;
}

.fullNameDiv, .NameDiv{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.fullNameDiv > input, .NameDiv > input {
  height: 2rem;
}